{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is About Page</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at blanditiis dolorem quis recusandae
                    reprehenderit, voluptates voluptatum. Aut beatae debitis doloremque, excepturi illum iste labore
                    magni
                    odio perferendis quas sapiente!</p>
            </div>
        </div>
    </div>

{{end}}